<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin
            filename="ignition-gazebo-sensors-system"
            name="ignition::gazebo::systems::Sensors"
        >
        <render_engine>ogre</render_engine>
        </plugin>
        <plugin
            filename="ign_ros2_control-system"
            name="ign_ros2_control::IgnitionROS2ControlPlugin"
        >
            <ros>
                <namespace>warthog</namespace>
                <!-- <remapping>/warthog/diff_drive_base_controller/cmd_vel:=cmd_vel</remapping> -->
            </ros>
            <parameters
            >$(find warthog_bringup)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>
